<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNETLogin.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ASPNET<span
                        class="visually-hidden">(current)</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Equipa" asp-action="Index">Equipas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Membro" asp-action="Index">Membros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="L1" asp-action="Index">L1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="L2" asp-action="Index">L2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="L3" asp-action="Index">L3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="L4" asp-action="Index">L4</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="O1" asp-action="Index">O1</a>
                        </li>   
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ASPNET - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
